* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation__control {
  top: 10px;
  left: 10px;
}

.reset__button {
  position: fixed;
  right: 20px;
  bottom: 10px;
  background: #777;
  border: none;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 35px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
